<!DOCTYPE html>
{%  load static %}
{% load pwa %}
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'money/daterangepicker.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'money/datepicker-theme.css' %}" rel="stylesheet" type="text/css" media="all"  />
    <link rel="stylesheet" href="{% static 'money/style.css' %}">
    <title>افزودن حساب</title>
    <script>
        $("#type").submit(function () {
        });
        {% if saveBank == 1 %}
            alert("حساب شما با موفقیت ذخیره شد");
        {% elif saveBank == 0 %}
            alert("نام حساب را وارد نکردید، لطفا مجددا تلاش کنید")
        {% endif %}

        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

  </head>

  <body style="background-color: #f1f1f1;">

    <footer class="section footer-classic context-dark bg-image" style="background: #4074B8;">
        <div class="container">
            <div class="row no-gutters social-container">
                <div class="col-md-4">
                    <a class="social-inner" href="{% url 'home' %}"><span class="icon mdi mdi-instagram"></span><span>برگشت به خانه</span></a>
                </div>
                <div class="col-md-4">
{#                        <a class="social-inner" href="#https://telegram.me/iman_naseri/"><span class="icon mdi mdi-twitter"></span><span>telegram</span></a>#}
                </div>
                <div class="col-md-4">
{#                        <a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>email</span></a>#}
                </div>
            </div>
        </div>
    </footer>

    <div class="container">
       {% load humanize %}
            <form method="post" id="type" class="col s12">
                {% csrf_token %}
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3"></div>
                    <div class="input-field col-md-3">
                        <input id="last_name" type="number" class="validate" name="cashInBank">
                        <label for="last_name" style="text-align: right; font-size: 14px;" class="active">رقم حساب</label>
                    </div>
                    <div class="input-field col-md-3">
                        <input id="first_name" type="text" class="validate" name="bankName">
                        <label for="first_name" style="text-align: right; font-size: 14px;" class="active">نام بانک</label>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" style="margin-top: 35px;">
                    <div class="col-xs-12">
                        <button type="submit" class="btn waves-effect waves-light" id="submit" style="width: 100%;">
                            ذخیره
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
      {% progressive_web_app_meta %}
    </div>

    <footer class="section footer-classic context-dark bg-image" style="background: #4074B8; position: fixed; bottom: 0; width: 100%;">
        <div class="container">
            <div class="row no-gutters social-container">
                <div class="col-md-4">
                    <a class="social-inner" href="https://www.instagram.com/inaseri.20/"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a>
                </div>
                <div class="col-md-4">
                    <a class="social-inner" href="#https://telegram.me/iman_naseri/"><span class="icon mdi mdi-twitter"></span><span>telegram</span></a>
                </div>
                <div class="col-md-4">
                    <a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>email</span></a>
                </div>
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'money/js/moment.min.js' %}"></script>
  </body>
</html>