{%  extends "base.html" %}
{% load static %}
{% block title %}
     تمامی حساب ها
{% endblock %}
{% block css %}{% endblock %}

{% block body %}
<!--Main Navigation-->
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark default-color scrolling-navbar">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'iconfinder-icon.svg' %}" style="height: 35px; width: 35px;">
        <strong style="font-family: bnazanin; margin-left: -10px;">برگشت</strong>
    </a>

  </nav>
</header>

<div class="container">


      <div id="mainRowPhones">
          <div class="row" style="margin-top: 20%;">
            <div class="col-md-12">
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
          </div>
      </div>
      <div id="mainRowCamputer">
          <div class="row" style="margin-top: 7%;">
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
      </div>

    <form method="post" id="type">
        {% csrf_token %}
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="md-form">
                    <input placeholder="نام حساب" type="text" name="bankName" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="md-form">
                    <input placeholder="رقم حساب" type="tel"  step=1.0  id="cashInBank" name="cashInBank" class="form-control number">
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-default btn-lg btn-block" id="submit">ذخیره</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $('input.number').keyup(function(event) {

          // skip for arrow keys
          if(event.which >= 37 && event.which <= 40) return;

          // format number
          $(this).val(function(index, value) {
            return value
            .replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            ;
          });
        });
    </script>
{% endblock %}
{% endblock %}