<!DOCTYPE html>
{% load static %}
{% load pwa %}
<html lang="fa">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="{% static 'money/daterangepicker.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'money/datepicker-theme.css' %}" rel="stylesheet" type="text/css" media="all"  />
    <link rel="stylesheet" href="{% static 'money/style.css' %}">

    <title>افزودن مبادله</title>
    <script>
        $("#type").submit(function () {
        });
        {% if saveTransaction == 2 %}
            alert("لطفا یک عنوان برای تراکنش خود بنویسید");
        {% elif saveTransaction == 3 %}
            alert("رقم تراکنش خود را مشخص کنید");
        {% elif saveTransaction == 4 %}
            alert("تراکنش شما با موفقیت ذخیره شد");
        {% endif %}

        $(document).ready(function () {
        $("#submit").click(function () {
                var banks = $('#selBank');
                if (banks.val() === '') {
                    alert("لطفا یک حساب را از حساب های خود انتخاب کنید یا یک حساب جدید ایجاد کنید");
                    $('#selBank').focus();
                    return false;
                }
                else return;
            });
        });
    </script>
    {% progressive_web_app_meta %}

  </head>

  <body>
{#  <script type='text/javascript'>#}
{#   $("input:radio").change(function () {$("#postGender").prop("disabled", false);});#}
{#  </script>#}
    <div class="container">
      {% load humanize %}
      <div class="row">
            <div class="col-md-12">
                <nav class="navbar">
                    <p class="vertical-center style-logo-header">جیب من</p>
                    <p class="vertical-center style-logo-header" style="margin-left: 500px;">{{ user }}</p>
                    <a class="style-logo-header" href="{% url 'home' %}" style="margin-top: 7px;">برگشت به خانه</a>
                </nav>
            </div>
        </div>
      <div id="mainRowPhones">
            <form method="post" id="type">
              {% csrf_token %}
              <div class="row" style="margin-top: 35px;">
                  <div class="col-xs-6">
                      <select name="bank" class="buttonShape" id="selBank">
                          <option value="">انتخاب کنید</option>
                          {% for company in name_bank %}
                          <option value="{{ company.name_bank }}">{{ company.name_bank }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="col-xs-6">
                      <P class="buttonShape">منبع مالی</P>
                  </div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-xs-6">
                      <input type="text" name="date" class="buttonShape jalali-datepicker" style="text-align: center;">
                  </div>
                  <div class="col-xs-6">
                      <p class="buttonShape">تاریخ</p>
                  </div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-xs-6">
                      <input type="text" name="title" class="buttonShape">
                  </div>
                  <div class="col-xs-6">
                      <p class="buttonShape">عنوان</p>
                  </div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-xs-6">
                      <input type="number" name="cash" class="buttonShape">
                  </div>
                  <div class="col-xs-6">
                      <p class="buttonShape">مبلغ</p>
                  </div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-xs-6">
                      <input type="text" name="desc" class="buttonShape">
                  </div>
                  <div class="col-xs-6">
                      <p class="buttonShape">توضیحات</p>
                  </div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-xs-12">
                      <button type="submit" class="buttonShapeGreen" id="submit">ذخیره</button>
                  </div>
              </div>
            </form>
        </div>
      <div id="mainRowCamputer" >
          <form method="post" id="type">
              {% csrf_token %}
              <div class="row" style="margin-top: 35px;">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <select name="bank" class="buttonShape" id="selBank">
                          <option value="">انتخاب کنید</option>
                          {% for company in name_bank %}
                          <option value="{{ company.name_bank }}">{{ company.name_bank }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="col-md-4">
                      <P class="buttonShape">منبع مالی</P>
                  </div>
                  <div class="col-md-2"></div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <input type="text" name="date" class="buttonShape jalali-datepicker">
                  </div>
                  <div class="col-md-4">
                      <p class="buttonShape">تاریخ</p>
                  </div>
                  <div class="col-md-2"></div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <input type="text" name="title" class="buttonShape">
                  </div>
                  <div class="col-md-4">
                      <p class="buttonShape">عنوان</p>
                  </div>
                  <div class="col-md-2"></div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <input type="number" name="cash" class="buttonShape">
                  </div>
                  <div class="col-md-4">
                      <p class="buttonShape">مبلغ</p>
                  </div>
                  <div class="col-md-2"></div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-md-2"></div>
                  <div class="col-md-4">
                      <input type="text" name="desc" class="buttonShape">
                  </div>
                  <div class="col-md-4">
                      <p class="buttonShape">توضیحات</p>
                  </div>
                  <div class="col-md-2"></div>
              </div>
              <div class="row" style="margin-top: 35px;">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                      <button type="submit" class="buttonShapeGreen" id="submit">ذخیره</button>
                  </div>
                  <div class="col-md-2"></div>
              </div>
          </form>
      </div>
      <script type="text/javascript">
		document.getElementById("mainRowCamputer").classList.toggle("hideAll")
		document.getElementById("mainRowPhones").classList.toggle("showAll")
      </script>
    </div>

      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <script src="{% static 'money/js/moment.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'money/js/moment-jalaali.js' %}"></script>
      <script src="{% static 'money/js/daterangepicker-fa-ex.js' %}"></script>
      <script>
        $(document).ready(function () {
            var night;
            var isRtl = true;
            var dateFormat = isRtl ? 'jYYYY/jMM/jDD' : 'YYYY/MM/DD';
            var dateFrom = false ? moment("") : undefined;
            var dateTo = false ? moment("") : undefined;
            var $dateRanger = $("#dateRangePicker");

            $dateRanger.daterangepicker({
                clearLabel: 'Clear',
                autoUpdateInput: !!(dateFrom && dateTo),
                minDate: moment(),
                autoApply: true,
                opens: isRtl ? 'left' : 'right',
                locale: {
                    separator: ' - ',
                    format: dateFormat
                },
                startDate: dateFrom,
                endDate: dateTo,
                jalaali: isRtl,
                showDropdowns: true
            }).on('apply.daterangepicker', function (ev, picker) {
                night = picker.endDate.diff(picker.startDate, 'days');
                if (night > 0) {
                    $(this).val(picker.startDate.format(dateFormat));
                    $('#dateRangePickerEnd').val(picker.endDate.format(dateFormat));
                } else {
                    $(this).val('')
                }
            });


            $('.ga-datepicker').daterangepicker({
                clearLabel: 'Clear',
                // autoUpdateInput: !!(dateFrom && dateTo),
                //minDate: moment(),
                autoApply: true,
                opens: 'right',
                singleDatePicker: true,
                showDropdowns: true,
                language: 'en'
            }).on('apply.daterangepicker', function () {
                $('.tooltip').hide();
                $('.date-select').text($(this).val());
            });

            $('.jalali-datepicker').daterangepicker({
                clearLabel: 'Clear',
                autoApply: true,
                opens: 'left',
                singleDatePicker: true,
                showDropdowns: true,
                jalaali: true,
                language: 'fa'
            }).on('apply.daterangepicker', function () {
                $('.tooltip').hide();
                $('.date-select').text($(this).val());
            });

            $(document).on('mouseover', '.daterangepicker .calendar td', function () {
                var gagDate = $(this).attr('data-original-title');
                $('.date-hover').text('');
                $('.date-hover').text(gagDate);

                $('[data-toggle="tooltip"]').tooltip()
            });

        });
      </script>

  </body>
</html>