{%  extends "base.html" %}
{% load static %}
{% block title %}
     تمامی حساب ها
{% endblock %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block body %}
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark default-color scrolling-navbar">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'iconfinder-icon.svg' %}" style="height: 35px; width: 35px;">
            <strong style="font-family: bnazanin; margin-left: -10px;">برگشت</strong>
        </a>
      </nav>
    </header>
    <div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        {% load humanize %}
           <div id="mainRowPhones">
                <div class="row" style="margin-top: 20%;"></div>
               {% for all_bank in all_banks %}
                   <div class="row" style="margin-bottom: 3%;">
                       <div class="col-12 col-md-12">
                           <div class="card">
                              <div class="card-body">
                                  <a href="{% url 'changeBank' all_bank.id %}" style="display: contents; text-align: right" >
                                      <p class="card-text" style="text-align: right;">{{ all_bank.name_bank }}</p>
                                      <p style="text-align: left;">{{ all_bank.cash_bank|intcomma:False }}</p>
                                  </a>
                              </div>
                           </div>
                       </div>
                   </div>
               {% endfor %}
          </div>
          <div id="mainRowCamputer">
              <div class="row" style="margin-top: 10%;"></div>
              {% for all_bank in all_banks %}
                  <div class="row" style="margin-bottom: 3%;">
                      <div class="col-12 col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <a href="{% url 'changeBank' all_bank.id %}" style="display: contents; text-align: right" >
                                      <p class="card-text" style="text-align: right;">{{ all_bank.name_bank }}</p>
                                      <p style="text-align: left;">{{ all_bank.cash_bank|intcomma:False }}</p>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
    </form>
    </div>
{% endblock %}