<!DOCTYPE html>
{%  load static %}
{% load pwa %}
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'money/daterangepicker.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'money/datepicker-theme.css' %}" rel="stylesheet" type="text/css" media="all"  />
    <link rel="stylesheet" href="{% static 'money/style.css' %}">
    <title>حساب ها</title>
    {% progressive_web_app_meta %}
  </head>

  <body style="background-color: #f1f1f1;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #4074B8!important;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}" style="font-family: sans-serif; font-size: 12px;">برگشت به خانه</a>
        </div>
    </nav>
    <div class="container">
       {% load humanize %}
      <div id="mainRowPhones">
          <div class="row">
              <div class="col-xs-12">
                  <table dir="ltr" border=".5" width="100%"   cellpadding="4" cellspacing="3" align="center" style="border-color: rgba(156, 37, 249, 0.4);">
                      <thead>
                      <tr>
                          <th scope="col" style="text-align: center">موجودی</th>
                          <th scope="col" style="text-align: center">نام بانک</th>
                      </tr>
                      {% for all_bank in all_banks %}
                      <tr align="center">
                          <td>{{ all_bank.cash_bank|intcomma }}</td>
                          <td>{{ all_bank.name_bank }}</td>
                      </tr>
                      {% endfor %}
                      </thead>
                  </table>
              </div>
          </div>
      </div>
      <div id="mainRowCamputer">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <table dir="ltr" border=".5" width="100%"   cellpadding="4" cellspacing="3" align="center" style="border-color: rgba(156, 37, 249, 0.4);">
                      <thead>
                      <tr>
                          <th scope="col" style="text-align: center">موجودی</th>
                          <th scope="col" style="text-align: center">نام بانک</th>
                      </tr>
                      {% for all_bank in all_banks %}
                      <tr align="center">
                          <td>{{ all_bank.cash_bank|intcomma }}</td>
                          <td>{{ all_bank.name_bank }}</td>
                      </tr>
                      {% endfor %}
                      </thead>
                  </table>
              </div>
              <div class="col-md-2"></div>
          </div>
      </div>
      <script type="text/javascript">
		document.getElementById("mainRowCamputer").classList.toggle("hideAll")
		document.getElementById("mainRowPhones").classList.toggle("showAll")
      </script>
    </div>
  <footer class="section footer-classic context-dark bg-image" style="background: #4074B8; width:100%; bottom: 0; position: fixed; margin-bottom: -18px;">
        <div class="container-fluid">
            <div class="row" style="width: 100%;">
                <div class="row no-gutters social-container">
                    <div class="col-md-4">
                        <a class="social-inner" href="https://www.instagram.com/inaseri.20/"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a>
                    </div>
                    <div class="col-md-4">
                        <a class="social-inner" href="#https://telegram.me/iman_naseri/"><span class="icon mdi mdi-twitter"></span><span>telegram</span></a>
                    </div>
                    <div class="col-md-4">
                        <a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>email</span></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>