<!DOCTYPE html>
{% load static %}
{% load pwa %}
<html lang="fa">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link href="{% static 'money/daterangepicker.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'money/datepicker-theme.css' %}" rel="stylesheet" type="text/css" media="all"  />
        <link rel="stylesheet" href="{% static 'money/style.css' %}">

        <title>افزودن مبادله</title>

        {% progressive_web_app_meta %}

    </head>

    <body>
        <div class="jumbotron text-center" style="background-color: #4074B8; border-radius: 5px">
        </div>
        <div class="container">
        {% load humanize %}
            <form method="post">
                {% csrf_token %}
                <div id="mainRowPhones">
                    <div class="row">
                      <div class="col-xs-3" style="width: 100%;height: 100%;margin-top: 10px;">
                        <div class="card">

                          <div class="view">
                            <img src="{% static 'ic-bank.png' %}" class="card-img-top" alt="photo" style="width: 50%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">حساب</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی حساب های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="3" name="add">افزودن</button>
                            <button class="buttonShape" value="3" name="list" style="margin-top: 3%;">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-3" style="height: 100%;width: 100%;margin-top: 30px;">
                        <div class="card" style="width: 100%;">
                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-income.png' %}" class="card-img-top" alt="photo" style="width: 100%; height: 50%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">درآمد ها</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی درآمد های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="1" name="add">افزودن</button>
                            <button class="buttonShape" value="1" name="list" style="margin-top: 3%;">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-3" style="width: 100%;height: 100%;margin-top: 30px;">
                        <div class="card">

                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-cost.png' %}" class="card-img-top" alt="photo" style="width: 50%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">هزینه </h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی هزینه های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="2" name="add">افزودن</button>
                            <button class="buttonShape" value="2" name="list" style="margin-top: 3%;">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-3" style="width: 100%;height: 100%;margin-top: 30px;">
                        <div class="card">

                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-debt.jpg' %}" class="card-img-top" alt="photo" style="width: 50%">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">بدهکاری</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی بدهی های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" name="add" value="4">افزودن</button>
                            <button class="buttonShape" name="list" value="4" style="margin-top: 3%;">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-3" style="width: 100%;height: 100%;margin-top: 30px;margin-bottom: 40px;">
                        <div class="card">

                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-demand.jpg' %}" class="card-img-top" alt="photo" style="width: 50%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">طلب کاری</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی طلب های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="5" name="add">افزودن</button>
                            <button class="buttonShape" value="5" name="list" style="margin-top: 3%;">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                    </div>
                </div>
                <div id="mainRowCamputer">
                    <div class="row" style="margin-top: 1%;">
                      <div class="col-md-1"></div>
                      <div class="col-md-3" >
                        <div class="card">

                          <div class="view">
                            <img src="{% static 'ic-bank.png' %}" class="card-img-top" alt="photo" style="width: 100%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">حساب</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی حساب های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="3" name="add">افزودن</button>
                            <button class="buttonShape" value="3" name="list">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-3" >
                        <div class="card" style="width: 100%;">
                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-income.png' %}" class="card-img-top" alt="photo" style="width: 100%; height: 100%;">
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">درآمد</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی درآمد های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="1" name="add">افزودن</button>
                            <button class="buttonShape" value="1" name="list">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-3" >
                        <div class="card">

                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-cost.png' %}" class="card-img-top" alt="photo" style="width: 100%;">
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">هزینه </h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی هزینه های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="2" name="add">افزودن</button>
                            <button class="buttonShape" value="2" name="list">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top: 3%; margin-bottom: 3%;">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                        <div class="card">

                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-debt.jpg' %}" class="card-img-top" alt="photo" style="width: 100%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">بدهکاری</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی بدهی های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" name="add" value="4">افزودن</button>
                            <button class="buttonShape" name="list" value="4">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                        <div class="col-md-3">
                        <div class="card">

                          <!--Card image-->
                          <div class="view">
                            <img src="{% static 'ic-demand.jpg' %}" class="card-img-top" alt="photo" style="width: 100%;">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">طلب کاری</h4>
                            <!--Text-->
                            <p class="card-text">در این قسمت شما می توانید تمامی طلب های خود را به سادگی کنترل یا به آن اضافه کنید</p>
                            <button class="buttonShape" value="5" name="add">افزودن</button>
                            <button class="buttonShape" value="5" name="list">مشاهده همه</button>
                          </div>

                        </div>
                      </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                document.getElementById("mainRowCamputer").classList.toggle("hideAll")
                document.getElementById("mainRowPhones").classList.toggle("showAll")
            </script>
        </div>
        <footer class="section footer-classic context-dark bg-image" style="background: #4074B8;">
            <div class="row no-gutters social-container">
                <div class="col-md-4">
                    <a class="social-inner" href="https://www.instagram.com/inaseri.20/"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a>
                </div>
                <div class="col-md-4">
                    <a class="social-inner" href="#https://telegram.me/iman_naseri/"><span class="icon mdi mdi-twitter"></span><span>telegram</span></a>
                </div>
                <div class="col-md-4">
                    <a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>email</span></a>
                </div>
            </div>
        </footer>
    </body>
</html>