<!DOCTYPE html>
{% load static %}
{% load pwa %}
<html lang="fa">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link href="{% static 'money/daterangepicker.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'money/datepicker-theme.css' %}" rel="stylesheet" type="text/css" media="all"  />
        <link rel="stylesheet" href="{% static 'money/style.css' %}">

        <title>افزودن مبادله</title>

        {% progressive_web_app_meta %}

    </head>

    <body>
        <div class="container">
        {% load humanize %}
            <div class="row">
                <div class="col-md-12">
                <nav class="navbar">
                    <p class="vertical-center style-logo-header">جیب من</p>
                    <p class="vertical-center style-logo-header" style="margin-left: 500px;">{{ user }}</p>
                    <a class="style-logo-header" href="{% url 'logout' %}" style="margin-top: 7px;">خروج</a>
                </nav>
            </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div id="mainRowPhones">
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="boxShape">درآمد</p>
                            <button class="buttonShapeGreen" name="add" value="1">افزودن</button>
                            <button name="list" value="1" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-xs-4">
                            <p class="boxShape">هزینه</p>
                            <button class="buttonShapeGreen" name="add" value="2">افزودن</button>
                            <button name="list" value="1" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-xs-4">
                            <p class="boxShape">حساب</p>
                            <button class="buttonShapeGreen" name="add" value="3">افزودن</button>
                            <button name="list" value="1" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15%;">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4">
                            <p class="boxShape">مطالبه</p>
                            <button class="buttonShapeGreen" name="add" value="4">افزودن</button>
                            <button name="list" value="1" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-xs-4">
                            <p class="boxShape">بدهی</p>
                            <button class="buttonShapeGreen" name="add" value="5">افزودن</button>
                            <button name="list" value="1" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                    <footer>
                <div class="footer-top" style="margin-top: 39%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-4 segment-two">
                                <h2 style="text-align: center">تماس با ما</h2>
                                <ul>
                                    <li><a href="#" ></a>inaseri.20@gmail.com </li>
                                    <li><a href="#" ></a>+989127503802 </li>
                                </ul>
                            </div>
                            <div class="col-xs-4 segment-three">
                                <h2 style="text-align: center">ما را دنبال کنید</h2>
                                <ul>
                                    <li><a href="https://t.me/Iman_Naseri" >تلگرام</a></li>
                                    <li><a href="https://www.instagram.com/inaseri.20/" >اینستاگرام</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                    </div>
                </div>
            </footer>
                </div>

                <div id="mainRowCamputer" >
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3" style="margin-right: 4%;">
                            <p class="boxShape">درآمد</p>
                            <button class="buttonShapeGreen" name="add" value="1">اضافه کردن</button>
                            <button class="buttonShape" name="list" value="1" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-md-3" style="margin-right: 5%;">
                            <p class="boxShape">هزینه</p>
                            <button class="buttonShapeGreen" name="add" value="2">اضافه کردن</button>
                            <button name="list" value="2" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-md-3">
                            <p class="boxShape">حساب</p>
                            <button class="buttonShapeGreen" name="add" value="3">اضافه کردن</button>
                            <button name="list" value="3" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <p class="boxShape">مطالبه</p>
                            <button class="buttonShapeGreen" name="add" value="4">اضافه کردن</button>
                            <button name="list" value="4" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-md-3">
                            <p class="boxShape">بدهی</p>
                            <button class="buttonShapeGreen" name="add" value="5">اضافه کردن</button>
                            <button name="list" value="5" class="buttonShape" style="margin-top: 10px;">مشاهد همه</button>
                        </div>
                        <div class="col-md-3"></div>
                 </div>
                 <footer>
                <div class="footer-top" style="margin-top: 3%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 segment-one">
                                <h3 style="text-align: center">درباره ما</h3>
                                <p style="text-align: right; color: white">.جیب من یک وب اپلیکیشن ایرانی است که به منظور کنترل هزینه ها بدون هزینه نوشته و توسعه یافته</p>
                            </div>
                            <div class="col-md-4 segment-two">
                                <h2 style="text-align: center">تماس با ما</h2>
                                <ul>
                                    <li><a href="#" ></a>inaseri.20@gmail.com </li>
                                    <li><a href="#" ></a>+989127503802 </li>
                                </ul>
                            </div>
                            <div class="col-md-4 segment-three">
                                <h2 style="text-align: center">ما را دنبال کنید</h2>
                                <ul>
                                    <li><a href="https://t.me/Iman_Naseri" >تلگرام</a></li>
                                    <li><a href="https://www.instagram.com/inaseri.20/" >اینستاگرام</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="footer-bottom">تمام حقوق مادی و معنوی این سایت متعلق به جیب من می باشد</p>
        </footer>
            </div>
            </form>


            <script type="text/javascript">
                document.getElementById("mainRowCamputer").classList.toggle("hideAll")
                document.getElementById("mainRowPhones").classList.toggle("showAll")
            </script>
        </div>
    </body>
</html>