{%  extends "base.html" %}
{% load static %}
{% block title %}
     تمامی حساب ها
{% endblock %}
{% block css %}
    <style>.fas{color:black !important;}</style>
{% endblock %}
{% block js %}{% endblock %}
{% block body %}
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark default-color scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>My Packet</strong></a>
  </nav>
</header>
    <div class="container-fluid">
        <form method="post">
        {% csrf_token %}
            <div class="row" style="margin-top: 15%;">
                <div class="col-md-4"></div>
                <div class="col-md-4 md-form">
                    <i class="fas fa-envelope prefix"></i>
                    <input type="text" id="inputValidationEx" class="form-control validate" placeholder="نام کاربری" name="username">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 md-form">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" id="inputValidationEx2" class="form-control validate" placeholder="رمز ورود" name="password">
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button class="btn blue-gradient" style="width: 105%" type="submit">ورود</button>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="{% url 'register' %}" class="btn aqua-gradient" style="width: 105%">ثبت نام</a>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <a href="{% url 'password_reset' %}" class="btn peach-gradient" style="width: 105%">بازیابی رمز عبور</a>
              </div>
              <div class="col-md-4"></div>
          </div>
      </form>
    </div>
{% endblock %}