<!DOCTYPE html>
{%  load static %}
{% load pwa %}
<html lang="fa">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'money/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  {% progressive_web_app_meta %}

  <body>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <div class="row" style="margin-top: 35px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input class="buttonShape" type="text" name="username" placeholder="نام کاربری خود را وارد کنید">
        </div>
        <div class="col-md-4"></div>
      </div>
        <div class="row" style="margin-top: 35px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input type="password" class="buttonShape" name="password" placeholder="رمز خود را وارد کنید">
        </div>
        <div class="col-md-4"></div>
      </div>
        <div class="row" style="margin-top: 35px;">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" class="buttonShapeGreen">ورود</button>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row" style="margin-top: 35px;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="buttonShape" href="{% url 'register' %}">ثبت نام</a>
            </div>
            <div class="col-md-4"></div>
        </div>
      </form>
    </div>
    <footer>
        <div class="footer-top" style="margin-top: 39%;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4 segment-two">
                        <h2 style="text-align: center">تماس با ما</h2>
                        <ul>
                            <li><a href="#" ></a>inaseri.20@gmail.com </li>
                            <li><a href="#" ></a>+989127503802 </li>
                        </ul>
                    </div>
                    <div class="col-xs-4 segment-three">
                        <h2 style="text-align: center">ما را دنبال کنید</h2>
                        <ul>
                            <li><a href="https://t.me/Iman_Naseri" >تلگرام</a></li>
                            <li><a href="https://www.instagram.com/inaseri.20/" >اینستاگرام</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
